[submodule "plugins/alias-tips"]
	path = custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
